*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(216, 222, 222);
}
.icon{
  display: none;
  padding: 10px;
  font-size: 20px;
}

.link_container{
  margin: auto;
  justify-content: center;
  text-align: end;
  margin-right: 10px;
}

.link_container .list{
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
.link_container .list li{
  list-style: none;
  margin-left: 20px;
}
.link_container .list li a{
  text-decoration: none;
  padding: 5px 0px;
  margin-left: 10px;
  position: relative;
  font-size: 20px;
}
.link_container .list li a:hover{
  color: red;
}
.link_container .list li a::after{
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: red;
  transition: width 1s ease, left 1s ease;

}
.link_container .list li a:hover::after{
  width: 100%;
  left: 0;
}

@media only screen and (min-width: 200px) and (max-width: 767px){
  .icon{
    display: flex;
    justify-content: end;
    z-index: 2;
    background-color: coral;
  }
  
  .link_container{
    text-align: center;
    margin-right: 0;
    transform: translateY(-150%);
    transition: 0.5s;
  }
  .open{
  transform: translateY(0);
  }
  .link_container .list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  }
  .link_container .list li{
    background-color: coral;
    transition: 0.5s;
    width: 100%;
  }
 
    .link_container .list li a{
      color: black;
      width: 100%;
      display: block;
      transition: 0.3s;
      padding: 5px;
    }
      .link_container .list li a:hover{
        color: white;
        background-color: black;
      }
}
button{
  padding: 10px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  background-color: bisque;
  border: none;
  border-radius: 5px;
  font-size: 20px;


}
button:active{
  transform: translateY(4px);
  background-color: crimson;
    box-shadow: 0 5px #666;
}
button:hover{
  outline: 2px solid rebeccapurple;
  background-color: white;
  color: red;
}